
DATABASE_URL="postgresql://neondb_owner:npg_GzZQm8sB7lCd@ep-delicate-flower-a1dopt1p-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


# NextAuth URL
NEXTAUTH_URL=""
NEXTAUTH_SECRET="tambo-secret"

#Google OAuth (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth 
GITHUB_ID=
GITHUB_SECRET=
# Tambo
NEXT_PUBLIC_TAMBO_API_KEY=""