:root {
  --fd-layout-width: 100% !important;
  --banner-height: 0px;
  --header-height: 56px;
  --toc-top-offset: calc(var(--banner-height) + var(--header-height) + 16px);
  --sidebar-top-offset: calc(var(--banner-height) + 40px);
}

/* Remove sidebar border */
#nd-sidebar [class*="border-e"] {
  border-right: none !important;
}


#nd-toc {
  position: fixed !important;
  right: 2rem !important;   /* distance from right edge */
  top: var(--toc-top-offset) !important;
  width: 250px !important;  /* control width */
  max-height: calc(100vh - var(--toc-top-offset)) !important;
  overflow-y: auto !important;
}

#nd-sidebar {
  margin-top: var(--sidebar-top-offset) !important;
  background-color: transparent !important;
  border: none !important;
}
