name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          # need an explicit token here, otherwise the pull request created will not
          # get other actions run on its behalf
          # https://github.com/googleapis/release-please/issues/922#issuecomment-861154425
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          manifest-file: .release-please-manifest.json

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

      - uses: actions/setup-node@v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          node-version: "22"
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        if: ${{ steps.release.outputs.releases_created }}
        # This (`npm install) is a workaround for the fact that release-please
        # is not properly updating the lockfile for interdependencies. `npm ci`
        # will fail if more than one package has a version change. This is a bug
        # in release-please, which should be updating the version numbers in release PR.
        run: npm install

      - name: Build
        if: ${{ steps.release.outputs.releases_created }}
        run: npm run build

      - name: Publish @tambo-ai/react to npm
        if: ${{ steps.release.outputs.react-sdk--release_created }}
        working-directory: ./react-sdk
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      - name: Publish tambo to npm
        if: ${{ steps.release.outputs.cli--release_created }}
        working-directory: ./cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      - name: Publish create-tambo-app to npm
        if: ${{ steps.release.outputs.create-tambo-app--release_created }}
        working-directory: ./create-tambo-app
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      - name: Setup Git User
        if: ${{ steps.release.outputs.release_created }}
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Merge main into deploy-docs
        if: ${{ steps.release.outputs.docs--release_created }}
        run: |
          git checkout deploy-docs
          git merge --no-ff main -m "chore: merge main into deploy-docs for release ${{ steps.release.outputs.tag_name }}"
          git push origin deploy-docs
