# Used for local development and CLI tools such as:
#
# - Drizzle CLI
# - Better Auth CLI

BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_SECRET=

# Add social provider credentials (optional)
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=